:root {
  --main-color: #111;
  --alt-color: #eee;
  --accent-color: forestgreen;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--alt-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  list-style: none;
}

button {
  color: var(--alt-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.25s, scale 0.25s;
}
button:hover,
button:focus {
  background-color: var(--accent-color);
  scale: 1.1;
}
button:active {
  scale: 1;
}
