* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-wrapper {
  background-color: #eeeeee88;
  padding: 0.6rem;
  border-radius: 0.6rem;
}

.list {
  list-style: none;
  height: 400px;
  width: 600px;
  overflow-y: scroll;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  li {
    max-width: 540px;
    background-color: #00ffff88;
    border-radius: 0.6rem;
    padding: 0.6rem 1.2rem;

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0.6rem;
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}
