.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    text-transform: uppercase;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header,
.footer {
  margin: 2rem 0;
}

.section:not(:first-child) {
  border-top: 5px dashed #eee;
  padding-top: 1rem;
}

.list-wrapper {
  background-color: #11111188;
  padding: 0.6rem;
  border-radius: 0.6rem;
}

.list {
  height: 400px;
  width: 600px;
  overflow-y: scroll;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  li {
    width: 540px;
    background-color: #11111188;
    border-radius: 0.6rem;
    padding: 0.6rem 1.2rem;

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0.6rem;
    }
  }
}

.form {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;

  input {
    width: 100%;
    padding: 0 1rem;
    background-color: #eee;
    border: 0;
    color: #111;
    border-radius: 0.6rem;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.6rem;
}

.btn:hover {
  color: #dc143c;
  border-color: #dc143c;
}

.align-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.saved {
  color: #00ffff;
}

.unsaved {
  color: #dc143c;
}
